
/*                                                       [whole page]                                                 */


body{
    font-family: 'Metrophobic', Arial, serif; font-weight: 400;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    border: solid;
    padding: 10px 10px 10px 10px;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
/**********************************************************************************************************************/





/*                                                 [header, main and footer]                                          */


.container{
    border: dotted;
    padding: 10px 10px 10px 10px;
    display: flex;
}
/**********************************************************************************************************************/





/*                                                    [header section]                                                */

#header{
    display: flex;
    flex-direction: column;
}

h1{
    font-size: 20px;
}

h3{
   font-weight:normal;
}

/**********************************************************************************************************************/





/*                                             [navigation section of header]                                         */


nav>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightgreen;
}


nav>ul>li {
    float: left;
}


nav>ul>li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 10px 30px;
    text-decoration: none;
}

li a:hover{
    color: red;
}
/**********************************************************************************************************************/





/*                                              [content section of main]                                             */


/*==================================== LOGO =====================================*/
.container-image{
    border: dotted;
    font-size: 20px;
}

#logo{
    max-width: 300px;
}

/*================================ whole content ================================*/

.container-content{
    padding: 0px 30px 0px 30px;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
}

.content{
    max-width: 500px;
    padding: 10px 10px 10px 10px;
    background: lightblue;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

/*---------------------------------content-index -----------------------------*/

p{
    display: flex;
    flex-wrap: wrap;

}

/*------------------------------- content-showbugs --------------------------*/

.title{
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0px 5px 0px;
}

/*---------------------------------content-addbugs ---------------------------*/

form{
    display: flex;
    flex-direction: column;
}

label{
    font-size: 20px;
    font-weight: bold;
}
/**********************************************************************************************************************/

